@import '~@aurora/button/a-button';
@import '~@aurora/rtl/_mixins';
@import '~@aurora/rtl/_mixins';

/** @define exampleCounter **/

.exampleCounter {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.exampleCounter-title {
    margin-bottom: 0.5rem;
}

.exampleCounter-content {
    display: flex;
}

.exampleCounter-value {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    background: #fff;
}

.exampleCounter-decrementButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    @include a-rtl {
        border-top-left-radius: 0;
        border-top-right-radius: $a-button-corner-radius;
        border-bottom-right-radius: $a-button-corner-radius;
        border-bottom-left-radius: 0;
    }
}

.exampleCounter-incrementButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @include a-rtl {
        border-top-left-radius: $a-button-corner-radius;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: $a-button-corner-radius;
    }
}

.exampleCounter-disabledButton {
    margin-top: 0.5rem;
}
